.wrapper
  .question-wrapper
    =render 'shared/side_bar'
    .question-content-main
      =image_tag("question_100.png",class:"tag-image") 
      =image_tag("question_woman3.png",class:"question-woman2")
      .question-content
        -# .question-title
        -#   = image_tag  @group.image
        .question-box
          .question-text
            -@questions.each do |question|
              %h4
                .question-text
                  %p
                    Q
                    = question.no
                    = link_to(question.text,"/groups/#{@group.id}/questions/#{question.id}/ansers/new")                
      .pager
        %ul
        .pagination
        %li
          = paginate(@questions)
          