#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Reset Password
      %h5 パスワードの再発行
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          = f.submit "reset password", class: 'btn'

